@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --roboto: font-family: 'Roboto', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.homepage .banner{
    background-image: url(images/Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    position: relative;
}

.banner div{
    z-index: 10;
}

.banner h1{
    font-size: 200px;
    margin-top: 100px;
    /* padding: 0 !important; */
    font-family: 'khmer_sangam_mn';
}

.banner p{
    font-size: 20px;
    font-family: var(--roboto);
    margin-top: -70px;
}

.banner button{
    font-family: var(--roboto);
    font-weight: 500;
    font-size: 16px;
    background-image: linear-gradient(to right, #F798A5, #F9ADAD, #FBC8B7);
    border: 0;
    box-shadow: 10px 10px 40px black;
}

.color-shadow{
    position: absolute;
    height: 100vh;
    /* width: 100vw; */
    width: 100%;
    opacity: 40%;
    z-index: 1;
}

 /*------------------------------------------------ tab view  --------------------------------------------*/

 @media only screen and (min-width: 577px) and (max-width: 990px) {
    .banner h1{
        font-size: 150px;
    }
 }



 /*----------------------------------------------- Mobile view  ------------------------------------------*/
 @media only screen and (max-width: 576px) {
    .banner h1 {
            font-size: 100px;
    }

    .banner p{
        margin-top: -45px;
    }
 }